<h4 style="color: black; margin-left: 30px; margin-top: 30px;">{{name}}</h4>
<table *ngIf="dataService.demo">
    <thead>
        <th *ngFor="let keyName of dataService.baseData.tables.Impairments">
            {{keyName}}
        </th>
    </thead>
    <tbody>
        <tr *ngFor="let row of dataService.allData.tables.Impairments">
            <td *ngFor="let keyName of dataService.baseData.tables.Impairments">
                {{row[keyName]}}
            </td>
        </tr>

        <tr [formGroup]="form">
            
                <td *ngFor="let keyName of dataService.baseData.tables.Impairments">
                    <input style="height: auto;" formControlName="{{keyName}}">
                </td>
                <td (click)="save()">
                    save
                </td>
            
        </tr>
    </tbody>
</table>
<table *ngIf="!dataService.demo">
    <thead>
        <th *ngFor="let keyName of dataService.stanzaFeatuersKeys">
            <!-- <a *ngIf="keyName === 'family_related'">family</a>
            <a *ngIf="keyName != 'family_related'"> {{keyName}}</a> -->
            {{keyName}}
        </th>
    </thead>
    <tbody>
        <tr *ngFor="let row of dataService.stanzaFeatuersProblems">
            <td *ngFor="let keyName of dataService.stanzaFeatuersKeys">
                {{row[keyName]}}
                <a *ngIf="keyName === 'page'" target="_blank"
                    href="https://s3.us-east-2.amazonaws.com/managedev.listfunding.com/test.pdf#page={{row[keyName]}}">dwon</a>
            </td>
        </tr>
       

    </tbody>
</table>
<div style="width: 100%; height: 100px;"></div>