<div style="height: 600px;">
    <ngx-show-msg [messages]="generalMessages"></ngx-show-msg>
    <div  #commentBox id="comment-box">
       
        <div id="file-display">
            <textarea id="comment-input" [(ngModel)]="textForMsg" placeholder="Enter your comment"></textarea>
            send to: <select [(ngModel)]="userForMsg">
                <option *ngFor="let user of serviceData.userNames" value="{{user}}">{{user}}</option>
            </select>
            <div #fileDisplay id="file-display">
                <!-- Files will be displayed here -->
              </div>  
        </div>
      </div>   
    <button (click)="send()">send</button>
</div>